.parentdivimg {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5-scy2qqV4D0xZIpKP5_djyAnPCb8hF1RcQ&usqp=CAU');
    background-position: 0 0;
    background-size: cover;
}